aside {
  border-left: 3px solid yellow;
  border-right:3px solid yellow;
  border-bottom: 1px solid red;
  border-top: 1px solid blue;
  float: right;
  margin-top: -450px;
  margin-right: 80px;
  background-color: black;
  border-radius:10px;
  z-index: 1;
  position: relative;
  padding: 30px;
  padding-left: 46px;
}
body {
  background-image: url("../images/colorgrid.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.grid-container {
  border: 1px solid black;
  background-color: black;
  border-radius: 15px;
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: auto;
  margin-right: auto;
  margin-top:auto;
  grid-template-columns:1fr 1fr  1fr 1fr 1fr 1fr 1fr 1fr ; /*why does it tag it?*/
  width: 500px;
  height: 500px;
  float: center;
  padding: 10px;
  z-index: 5;
}

.grid-item {
  border: 1px solid;
  font-size: 20px;
  text-align: center;
  width:auto;
  height: auto;
  background: rgb(255, 117, 26);
  border-radius: 5px;
  z-index: 4;
}

h1{
  font-family: 'Audiowide', cursive;
  color:yellow;
  margin-top: 80px;
  text-align: center;
  font-style: normal;
  font-size: 70px;
  padding-bottom: 40px;
  text-shadow: 5px 5px 0 #000,
    -5px 5px 0 #000,
    5px -5px 0 #000,
    -5px -5px 0 #000,
    0px 5px 0 #000,
    0px -5px 0 #000,
    -5px 0px 0 #000,
    5px 0px 0 #000,
    10px 10px 0 #000,
    -10px 10px 0 #000,
    10px -10px 0 #000,
    -10px -10px 0 #000,
    0px 10px 0 #000,
    0px -10px 0 #000,
    -10px 0px 0 #000,
    10px 0px 0 #000,
    5px 10px 0 #000,
    -5px 10px 0 #000,
    5px -10px 0 #000,
    -5px -10px 0 #000,
    10px 5px 0 #000,
    -10px 5px 0 #000,
    10px -5px 0 #000,
    -10px -5px 0 #000;
}
h2 {
  font-family: 'Press Start 2P', cursive;
  color: rgb(210, 20, 58);
  font-size: 30px;
  padding-bottom: 20px;
}
#story {
  float: right;
  margin:200px;
}
.Score {
 color:yellow;
 font-size: 30px;
}

.myModal {
    display: none;
    position: relative;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    animation-name: fall-top;
    animation-duration: 0.4s

@keyframes fall-top {
  0% {
    top: 10em; }
  100% {
    top: -50; } }
